body {
    margin: 0;
}

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer {
    background-color: grey;
    text-align: center;
    padding: 5px;
}

.main {
    display: grid;
    flex: 1;
    grid-template: repeat(auto-fit, minmax(0px, 1fr)) / repeat(auto-fit, minmax(500px, 1fr));
    overflow-y: auto;
}

.finished {
    background-color: red;
}

.edit {
    background-color:  green;
}